<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!--        <Console name="Console" target="SYSTEM_OUT">-->
        <!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{1} - %msg%n"/>-->
        <!--        </Console>-->

        <File name="File" fileName="src\logs\logs.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{1} - %msg%n"/>
        </File>

        <!--        <RollingFile name="RollingFile" fileName="src\logs\logs.log"-->
        <!--                     filePattern="hippodrome.%d{yyyy-MM-dd}.log">-->
        <!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{1} - %msg%n"/>-->
        <!--            <Policies>-->
        <!--                <TimeBasedTriggeringPolicy />-->
        <!--            </Policies>-->
        <!--            -->
        <!--            <DefaultRolloverStrategy max="10">-->
        <!--                <Delete basePath="logs" maxDepth="1">-->
        <!--                    <IfFileName glob="logs.*.log" />-->
        <!--                    <IfLastModified age="7d" />-->
        <!--                </Delete>-->
        <!--            </DefaultRolloverStrategy>-->
        <!--        </RollingFile>-->

    </Appenders>
    <Loggers>
        <Root level="ALL">
            <!--            <AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
            <!--            <AppenderRef ref="RollingFile"/>-->
        </Root>
    </Loggers>
</Configuration>